:root {
  --color-main-accent: #8b4a9b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left
}

.members .member {
  display: flex;
  width: 300px;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 0;
  margin-bottom: 20px
}

.members a {
  width: 120px;
  height: 120px;
  border: 8px solid var(--color-main-accent);
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 0
}


.members img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.members .member_info {
  width: 140px
}

.members p {
  line-height: 1.4em;
  padding: 0;
  margin: 0
}

.members .member_name {
  font-weight: 700
}

@media (max-width:768px) {
  .members {
    text-align: center
  }

  .members img {
    width: 120px;
    height: 120px;
    margin-right: 0;
    margin-bottom: 12px
  }

  .members .member {
    width: 140px;
    flex-direction: column
  }
}